.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    bottom: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25 ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}